<!DOCTYPE html>
<html>

<head>
	<title>Spotiflow</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="start.css">
</head>

<body>
	<div class="head">
		<div class="spotiflow">
			Spotiflow
		</div>
		<hr class="underline">
		<div class="automate">
			<p>Automate your Spotify experience</p>
		</div>
	</div>
	<div style="display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-top: 65px;
                    margin-left: 40px;
                    margin-right: 40px;
                    margin-bottom: -10px;
                    ">
		<div>
			<div class="position">
				<div class="number">1</div>
				<img src="songs.jpg" alt="" class="image">
				<div class="text">Add an image /</div>
				<div class="text">enter songs manually</div>
			</div>

		</div>

		<div>
			<div class="position">
				<div class="number">2</div>
				<img src="playlist.jpg" alt="" class="image">
				<div class="text">Select existing playlist /</div>
				<div class="text">create new playlist</div>
			</div>
		</div>
		<div>
			<div class="position">
				<div class="number">3</div>
				<img src="done.jpg" alt="" class="image">
				<div class="text" style="margin-top: 4px;">ENJOY!</div>
			</div>
		</div>

	</div>
	<button class="continue" title="Continue" onclick="goToNextPage()">Continue</button>
	<script>
		console.log("Welcome!");
	</script>
</body>

</html>