<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step2</title>
    <link rel="stylesheet" href="step2.css">
</head>

<body>
    <div class="number">2</div>

    <div class="container">
        <div class="image">
            <div class="song-view">
                <textarea class="song-textarea">
                 </textarea>
            </div>
        </div>
        <div class="vertical-line"></div>

        <div class="manual-container">
            <div class="button-container">
                <button class="js-select-playlist-button">Select Existing Playlist</button>
                <button class="js-create-new-button">Create New Playlist</button>
            </div>
            <div class="manual">
                <p>Enter playlist name</p>
                <input type="text" placeholder="playlist name here">
                <p class="Enter playlist description">Enter playlist description</p>
                <input type="text" placeholder="playlist description here" class="playlist-description-here">
                <div class="checkbox-container">
                    <p class="checkbox-line">like songs as well:</p>
                    <input type="checkbox" class="checkbox">
                </div>
                <button class="enter-button">Enter</button>
            </div>
        </div>

    </div>
    <button class="continue" title="Continue">Continue</button>

    <script src="step2.js"></script>
</body>

</html>